@use "../../layout/all" as *;


// User Starts Here
.user {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 111111;
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 125px;

  .user-menu {
    position: absolute;
    top: 110%;
    left: 0;
    background-color: $black;
    border: 2px solid $gold;
    padding: 0 5px;
    width: 100%;
    @include rad(10px);
    display: none;

    &.active {
      display: block;
    }
    
    li {
      width: 100%;
      display: inline-block;
      padding: 10px 0px;
      text-align: center;
      cursor: pointer;

      &:hover {
        color: red;
      }

      &:first-of-type {
        border-bottom: 1px solid #ddd;
        &:hover {
          color: $gold;
        }
      }

      
      
    }
  }

  .profile-icon{
    cursor: pointer;
  }

  .name {
    @include flex(center , center);
    gap: 10px;
    margin-bottom: 5px;

    span {
      color: $text-white;
      font-size: 18px;
      font-weight: 500;
    }
  }

  h4 {
    font-size: 10px;
    font-weight: normal;
    color: $text-white;
    background-color: $gold;
    padding: 2px 0 2px 5px;
    @include rad(3px);
  }
}
// nav Starts Here
nav { 
  position: absolute;
  top: 0;
  left: 50%;
  @include center((-50%,0));
  z-index: 1;

  .container {

    .icons {
      display: none;
      align-items: center;
      gap: 10px;

      .icon {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-end ;
        position: relative;
      }

      img {
        max-width: 30px;
        @include rad(50%);
        cursor: pointer;
      }

      ul {
        position: absolute;
        top: 110%;
        background-color: $black;
        border: 2px solid $gold;
        padding: 10px;
        @include rad(10px);
        display: none;
        min-width: 100px;

        &.active {
          display: block;
        }

        li {
          
          display:block;
          padding: 5px 0px;
          text-align: center;
          cursor: pointer;
          font-size: 12px;

          &:hover {
            color: red;
          }
    
          &:first-of-type {
            border-bottom: 1px solid #ddd;
            &:hover {
              color: $gold;
            }
          }
        }
      }

      svg {
        font-size: 25px;
        &:hover {
          color: $gold;
          cursor: pointer;
        }
      }
    }

    .logo {
      padding-top: 70px;
      text-align: center;
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .list {
      display: flex;
      gap: 35px;
      padding-top: 50px;
      margin-right: 150px;

      a {
        color: #b5b5b5;
        font-size: 18px;
        height: fit-content;
        padding-bottom: 10px;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          @include center((-50%,0));
          width: 0;
          height: 2px;
          background-color: $gold;
          @include tra(.5s);
        }


        &.active,
        &:hover,
        &:focus {
          color: $text-white;
          &::before {
            width: 80%;
          }
        }
      }
    }

    .menu {
      position: absolute;
      top:  110%;
      right: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      background-color: $black;
      clip-path: polygon(0 0, 100% 0, 60% 0, 40% 0);
      z-index: 1000000;

      .switch-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        &:hover {
          background-color: $black;
          color: $text-white;
        }
      }


      a , > li {
        width: 100%;
        padding: 30px 40px;
        font-size: 20px;
        color: $text-white;
        font-family: 'Changa';
        font-weight: 600;

        &:hover{
          color: $text-gold;
          background-color: $black-15;
        }

        // switch 
        .switch {
          position: relative;
          display: inline-block;
          margin: 0;

        > span {
          position: absolute;
          top: 11px;
          pointer-events: none;
          font-family: 'Helvetica', Arial, sans-serif;
          font-weight: bold;
          font-size: 12px;
          text-transform: uppercase;
          text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
          width: 50%;
          text-align: center;
        }

        input.check-toggle-round-flat:checked ~ .off {
          color: $gold;
        }

        input.check-toggle-round-flat:checked ~ .on {
          color: #fff;
        }

        > span.on {
          left: 0;
          padding-left: 2px;
          color: $gold;
        }

        > span.off {
          right: 0;
          padding-right: 4px;
          color: #fff;
        }

        .check-toggle {
          position: absolute;
          margin-left: -9999px;
          visibility: hidden;
        }

        .check-toggle + label {
          display: block;
          position: relative;
          cursor: pointer;
          outline: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        input.check-toggle-round-flat + label {
          padding: 2px;
          width: 97px;
          height: 35px;
          background-color: $text-gold;
          -webkit-border-radius: 60px;
          -moz-border-radius: 60px;
          -ms-border-radius: 60px;
          -o-border-radius: 60px;
          border-radius: 60px;
        }
        input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
          display: block;
          position: absolute;
          content: "";
        }

        input.check-toggle-round-flat + label:before {
          top: 2px;
          left: 2px;
          bottom: 2px;
          right: 2px;
          background-color: $black;
          @include rad(60px);
        }
        input.check-toggle-round-flat + label:after {
          top: 4px;
          left: 4px;
          bottom: 4px;
          width: 48px;
          background-color: #fff;
          -webkit-border-radius: 52px;
          -moz-border-radius: 52px;
          -ms-border-radius: 52px;
          -o-border-radius: 52px;
          border-radius: 52px;
          -webkit-transition: margin 0.2s;
          -moz-transition: margin 0.2s;
          -o-transition: margin 0.2s;
          transition: margin 0.2s;
        }


        input.check-toggle-round-flat:checked + label:after {
          margin-left: 41px;
        }
        }

      }

      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }
  
    .menu-btn {
      display: none;

      svg {
        font-size: 30px;
        color: white;
        cursor: pointer;

        &:hover {
          color: $gold;
        }
      }
    }
  }

  &.scroll {
    position: fixed;
    z-index: 10000000000;
    background-color: black;
    padding: 50px 20px 30px;
    @include rad(10px);

    .logo {
      padding-top: 0px;
      img {
        max-width: 50%;
      }
    }

    .list {
      padding-top: 0px;
      margin-right: 0px;
    }
  }
}
// landing Starts Here
.landing {
  position: relative;
  height: 100vh;

  > img {
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;

  }

  .container {
    height: 100%;
    @include flex(flex-start , center)
  }
}
// Swiper Starts Here
.slider {
  padding-bottom: $main-padding;
  .container {
    position: relative;

    .swiper-pagination-bullet {
      background-color: $text-white;
      width: 15px;
      height: 15px;
    }
    
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
      bottom: -40px;
    }

    .swiper {
      .swiper-slide {

        @include rad(30px);
        overflow: hidden;
        position: relative;
        height: 570px;

        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }

        .content {
          position: absolute;
          bottom: 30px;
          padding-left:50px;
          display: flex;
          
          .left {
            padding-right: 30px;
            border-right: 4px solid $text-white;
            h2 {
              margin-bottom: 15px;
              font-size: 36px;
            }
            p {
              font-size: 18px;
            }
          }

          .right {
            padding-left: 20px;

            p {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
// Explore Starts Here
.explore {

  padding-bottom: $main-padding;

  .row:first-child {
    margin-bottom: 10px;
    .swiper-slide {
      position: relative;
  
      img {
  
        &:hover {
          filter:brightness(1) ;
          -webkit-filter:brightness(1) ;
        }
    
        filter: brightness(0.4);
        -webkit-filter: brightness(0.4);
      }
  
      h4 {
        position: absolute;
        bottom: 20px;
        left: 25px;
        color: $text-white;
        z-index: 2;
        font-size: 26px;
        opacity: .4;
      }
      
      &:hover {
  
        & h4 {
          opacity: 1;
        }
        
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
      }
    }
  }

  .row:last-child {
    .swiper-slide {

      position: relative;
      padding: 15px;
      height: 100px;
      display: flex;
      @include rad(11px) ;

      
      color: $text-white;
      background-color: $light-black;


      h5 {
        align-self: end;
      }

      img {
        position: absolute;
        top: 15px;
        right: 15px;
      }

      &:hover img {
        filter: brightness(4);
        -webkit-filter: brightness(4);
      }

    }
  }
}
// Rose Starts Here
.rose {
  padding-top: 20px;
  padding-bottom: $main-padding;
  .head-info > p {text-transform: none;}

  .image {
    position: relative;
    width: 100%;
    height: 320px;
    margin-bottom: 40px;
    @include rad(28px);
    overflow: hidden;

    .head-info {
      position: absolute;
      left: 43px;
      bottom: 20px;
      margin: 0;
    }

    &:hover {
      filter: grayscale(.4);
      -webkit-filter: grayscale(.4);

      img {
        transform: scale(1.03) rotate(.5deg);
        -webkit-transform: scale(1.03) rotate(.5deg);
        -moz-transform: scale(1.03) rotate(.5deg);
        -ms-transform: scale(1.03) rotate(.5deg);
        -o-transform: scale(1.03) rotate(.5deg);
      }
    }

    img {
      max-width: 100%;
      height: 100%;

    }
    
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }

  a.btn {
    padding: 20px 40px;
    background-color: $light-black;
    color: $text-white;
    @include rad(11px) ;
    width: fit-content;
    font-size: 22px;
    &:hover img {
      animation: bouncing 3s linear infinite;
    -webkit-animation: bouncing 3s linear infinite;
    }

    img {
      margin-left: 20px;
    }
  }
}
// Memberships Starts Here
.memberships {
  padding-top: 20px;
  padding-bottom: calc(1.5 * $main-padding);
  
  
  .container {

    > p {
      color: $text-gold;
      font-size: 24px;
      font-weight: bold;  
      margin-bottom: 10px;
    }

    > h2 {
      margin-bottom: 50px;
    }

    .boxes {
      @include grid(350px);

      .box {
        padding: 50px 30px 30px;
        color: $text-white ;
        border: 4px solid $text-gold;
        @include rad(38px) ;
        perspective: 1000px;  
        min-height: 320px;
        cursor: pointer;

        .inner {
          transform-style: preserve-3d;
          position: relative;
          display: block;
          min-width: 100%;
          height: 100%;
          @include tra(.8s);
        }

        &:hover .inner {
          transform: rotateY(180deg);
        }

        .front, .back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden; /* Safari */
          backface-visibility: hidden;
        }

        .back {
          transform: rotateY(180deg);
          overflow: overlay;
        }

        h3 {
          font-size: 36px;
          font-weight: bold;
        }

        h2 {
          font-size: 47px;
          font-weight: 300;
          color: $text-gold;
          padding-bottom: 30px;
          border-bottom: 4px solid $text-gold;
          margin-bottom: 30px;
        }

        ul {
          margin-bottom: 20px;

          li {
            &:not(:first-child) {
              padding: 10px 0;
            }
            font-size: 19px;
            font-weight: 300;
          }
        }

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;

          span {
            font-size: 26px;
            font-weight: 300px;
            color: $text-gold;
          }

          img {
            max-width: 24px;
            &.active {
              transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -o-transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}
// Contact Starts Here
.contact {
  padding-top: $main-padding;
  padding-bottom: $main-padding;
  background-color: $text-gold;

  .container {
    .head-info {
      position: relative;

      p {
        font-size: 21px;
        line-height: 30px;
        color: $light-black;
        opacity: .8;
        font-weight: normal;
        max-width: 900px;
        margin-bottom: 0;
        padding-bottom: 50px;
      }

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        @include center(-50%);
        height: 3px;
        background-color: $black;
        width: 160px;
      }
    }

    form {

      width: fit-content;
      margin:50px auto 0;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .row {
        width: 100%;
        display: flex;
        gap: 20px;

        input {
          flex: 1;
          padding: 20px;
          outline: none;
          border: 1px solid rgba(32, 32, 32, 0.12);
          color: #202020;
          font-size: 21px;
          @include rad(4px);
        }
      }

      button[type='submit'] {
        font-size: 21px;
        padding: 20px;
        color: $text-white;
        background-color: $black;
        border: 1px solid rgba(32, 32, 32, 0.12);
        @include tra(.5s);
        font-weight: bold;
        font-family: Manrope;
        cursor: pointer;

        &:hover {
          background-color: #292929;
        }
      }
      
    }
  }
}
// Footer Starts Here 
footer {
  padding: 70px 0 50px;
  background-color: #202020;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: $text-white;
    font-family: Manrope;

    .footer-list {
      margin-top: 30px;
      h4 {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 40px;
        letter-spacing: 2.57px;
      }
      ul li {
        opacity: 0.4;
        font-family: Manrope;
        font-size: 14px;
        padding: 10px 0;

        &:hover {
          color: $text-gold;
          opacity: 1;
        }
      }
    }

    .footer-contact {
      img {
        margin-bottom: 40px;
      }
      p {
        opacity: 70%;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 60px;
        line-height: 1.5;
      }
      span {
        display: inline-block;
        margin-bottom: 50px;
        opacity: 40%;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.5;
      }
      h4 {
        opacity: 0.4;
        font-weight: normal;
        margin-bottom: 30px;
        font-size: 18px;
      }
      .social {
        display: flex;
        gap: 25px;
        font-size: 20px;

        a:hover {
          color: $text-gold;
        }
      }

    }
  }
}










// animations 
@keyframes bouncing {
  0% , 50% , 100%{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  } 25%, 75%{
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
}







// Responsive 

// Large
  @media (max-width: 1200px) {
    // User Starts Here
    .user {
      top: 10px;
      right: 10px;

      .name {

        span {
          font-size: 16px;
        }
      }
    }

    // nav Starts Here
    nav { 
      .container {

        .list {
          margin-right: 0px;
          padding-top: 70px;
        }
      }
      &.scroll {
        position: fixed;
        z-index: 10000000000;
        background-color: black;
        padding: 50px 20px 30px;
        @include rad(10px);
    
        .logo {
          padding-top: 0px;
          img {
            max-width: 50%;
          }
        }
    
        .list {
          padding-top: 0px;
          margin-right: 0px;
        }
      }
    }

    // Footer Starts Here 
    footer {

      .container {
        flex-wrap: wrap;
        gap: 50px;

        .footer-list {
          margin-top: 30px;
          h4 {
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 40px;
            letter-spacing: 2.57px;
          }
          ul li {
            opacity: 0.4;
            font-family: Manrope;
            font-size: 14px;
            padding: 10px 0;

            &:hover {
              color: $text-gold;
              opacity: 1;
            }
          }
        }

        .footer-contact {
          img {
            margin-bottom: 40px;
          }
          p {
            opacity: 70%;
            font-size: 16px;
            font-weight: normal;
            margin-bottom: 60px;
            line-height: 1.5;
          }
          span {
            display: inline-block;
            margin-bottom: 50px;
            opacity: 40%;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.5;
          }
          h4 {
            opacity: 0.4;
            font-weight: normal;
            margin-bottom: 30px;
            font-size: 18px;
          }
          .social {
            display: flex;
            gap: 25px;
            font-size: 20px;

            a:hover {
              color: $text-gold;
            }
          }

        }
      }
    }

    .slider .container .swiper .swiper-slide {
      height: 393px;
    }


  }

  // Medium 
  @media (max-width: 992px) {

    .user {
      display: none;
    }
    
    // nav Starts Here
    nav { 
      position: absolute;
      top: 0;
      left: 50%;
      @include center((-50%,0));
      z-index: 1;

      .container {
        flex-direction: row-reverse;
        padding-top: 50px;

        .icons {
          display: flex;
        }

        .logo {
          width: 160px;
          padding-top: 0;
        }

        .list {
          display: none;
        }
    
        .menu-btn {
          display: block;
        }
      }
      &.scroll {
        position: fixed;
        z-index: 10000000000;
        background-color: black;
        padding: 0px 20px 30px;
        @include rad(10px);
    
        .logo {
          padding-top: 0px;
          width: 160px;

          img {
            max-width: 80%;
          }
        }
    
        .list {
          padding-top: 0px;
          margin-right: 0px;
        }

        .menu-btn {
          margin-top: 0px;
        }
      }
    }

    .slider .container .swiper .swiper-slide {
      height: auto;
    }
  }

  // Small
  @media (max-width: 768px) {

    nav { 
      width: 90%;
      .container .logo {
        width: 120px;
      }
    }

    // landing Starts Here
    .landing {

      > img {
        position: absolute;
        z-index: -100;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;

      }

      .container {
        justify-content: center;
        h1 {
          text-align: center;
        }
      }
    }

    // Swiper Starts Here
    .slider {
      
      .container {

        .swiper-pagination-bullet {
          background-color: $text-white;
          width: 10px;
          height: 10px;
        }
        
        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
          bottom: -40px;
        }

        .swiper {
          .swiper-slide {

            .content {
              
              .left {
                padding-right: 10px;
                border-right: 2px solid $text-white;
                h2 {
                  margin-bottom: 10px;
                  font-size: 25px;
                }
                p {
                  font-size: 16px;
                }
              }

              .right {
                display: none;
              }
            }
          }
        }
      }
    }

    // Rose Starts Here
    .rose {

      .image {
        height: 220px;

        .head-info {
          left: 20px;
          bottom: 10px;

          h2 {
            font-size: 20px;
          }
        }
      }

      a.btn {
        padding: 15px 30px;
        font-size: 18px;

      }
    }

    // Memberships Starts Here
    .memberships {

      .container {

        > p {
          font-size: 18px;
        }

        > h2 {
          margin-bottom: 50px;
        }

        .boxes {

          .box {


            h3 {
              font-size: 28px;
              font-weight: bold;
            }

            h2 {
              font-size: 40px;
            }

            ul {


              li {
                font-size: 14px;

              }
            }

            a {


              span {
                font-size: 22px;

              }

            }
          }
        }
      }
    }

    // Contact Starts Here
    .contact {

      .container {
        .head-info {

          p {
            font-size: 14px;
            line-height: 20px;
            font-weight: normal;
          }
        }

        form {
          width: 90%;


          .row {
            flex-direction: column;

            input {
              padding: 15px;
              font-size: 18px;
              &::placeholder {
                font-size: 18px;
              }
            }
          }

          button[type='submit'] {
            font-size: 18px;

          }
          
        }
      }
    }

  }
