@use "./sass/index" as *;
@use "./sass/pages";
@use "./sass/layout/fonts";


body {
  background-color: $black !important;
  color: $text-white;
  font-family: 'Roboto', sans-serif;
}

body.arabic {
  direction: rtl;
  font-family: 'Tajawal', sans-serif;
}