@use "./vars" as *;

h1 {
  color: $text-white;
  font-size: 55px;
  text-transform: uppercase;
}

h2 {
  font-size: 44px;
  color: $text-white;
  text-transform: uppercase;  
}

p {
  font-size: 22px;
  color: $text-white;
  font-weight: 300;
  text-transform: uppercase;
}

  // Small
  @media (max-width: 768px) {

    h1 {
      font-size: 28px;
    }
    
    h2 {
      font-size: 24px;
      color: $text-white;
      text-transform: uppercase;  
    }
    
    p {
      font-size: 14px;
      color: $text-white;
      font-weight: 300;
      text-transform: uppercase;
    }

  }